<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Feedback System | Homepage</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="../styles/main.css">
      <link rel="stylesheet" href="../styles/style.css">

  
</head>

<body>
  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title" style="text-align:left;">
  <h1>Welcome Admin</h1>
</div>
<!-- Form Module-->


  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <a href="create.html" type="button" class="btn green btn-outline">New Report</a>
      </div>
      <div class="col-sm-6">
        <a href="list.html" type="button" class="btn green btn-outline">Reports</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a href="settings.html" type="button" class="btn green btn-outline">Settings</a>
      </div>
      <div class="col-sm-6">
        <a href="profile.html" type="button" class="btn green btn-outline">Profile</a>
      </div>
    </div>

  </div>
  
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<!-- <script src='js/local.js'></script> -->

    <script src="../scripts/js/index.js"></script>

</body>
</html>
