
<div class="pen-title" ng-init="logout = true">
  <h1>Login</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="">

  </div>
  <div class="form" >

    
    <div ng-controller="LoginCtrl">
      <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <div ng-show="logMessage" class="alert alert-success">{{logMessage}}</div>
      <form  novalidate >
        <input name="username" id="username" type="text" ng-model="username" placeholder="Username" required />
        <input name ="password" id="password" type="password" ng-model="password" placeholder="Password" required hidden/>
        <button type="submit" ng-click="login()" >Login</button>
      </form>
    </div>
  </div>
  
  <!--
  <div class="cta"><a href="#">Forgot your password?</a></div>
-->
</div>


