
<div class="tb-body">

  <div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="pen-title mg">
      <h3>Reports</h3>
    </div>

    <form class="form-inline" ng-submit="update()">
     <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-click="refresh()"></span></div>
          <input type="search" class="form-control" placeholder="Search" ng-model="reportSearch.query">
        </div>
      </div>
     <div class="form-group">
        <select class="form-control" ng-model="reportSearch.field" ng-change="if(reportSearch.query){update()}">
          <option value="service_request_id">Report ID</option>
          <option value="phone">Phone Number</option>
        </select>
      </div>
     <div class="form-group">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </div>
    </form>
    <hr>

    <div class="row"><div class="col-sm-12">
      <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Phone</th>
            <th>Area</th>
            <th>Category</th>
            <th>Status</th>
            <th>Assigned to</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="report in reports" ngclick="openReport(report.service_request_id)">
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.service_request_id }}</a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted"><small>{{ report.requested_datetime|date:'short' }}</small></a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.phone }}</a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.agency_responsible }}</a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.service_name }}</a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.status }}</a></td>
            <td><a ng-href="#/report/{{ report.service_request_id }}" class="text-muted">{{ report.assigned_to }}</a></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center text-warning">{{ pageStatusMessage }}</div>
    </div>

  </div>

</div>

</div>



<br><br>
