
  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Create new report</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="form" >
    <h2>Report details</h2>
    <form>
      <label>Client:</label> <input type="text"/>
      <label>API:</label> <input type="text" required/>
      <label>Address:</label> <input type="text" />
      <label>Category:</label> <input type="text" />
      <label>Description:</label> <textarea rows="4" cols="50" ></textarea>
      <hr>
      <label>Status:</label> <input type="text" />
      <label>Comment:</label> <input type="text" />
      
      <button>Submit</button>
    </form>
    
  </div>
 
</div>
<br><br>